#primary {
  padding-block: 20px;

  & div {
    display: flex;
    align-items: center;
    gap: 8px;
    & strong {
      display: none;
    }
  }

  /*nesting css*/
  & div:nth-child(2) {
    margin-inline: auto;
  }
  & div:nth-child(3) {
    justify-self: end;
  }
  #secondary {
    width: 100%;
    gap: 1rem;
  }
}

.logo-img {
  width: 100px;
  height: 15px;
}

@media ( width >= 80em) {
  #primary div strong {
      display: initial;
  }
  #secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
  }
  .logo-img {
    width: 160px;
  }

}

