#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .card {
    &::berofe {
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg, transparent 0%,
        #020617 100%
      );
    }
    figcaption {
      position: absolute;
      bottom: 0;

      padding: 24px;
      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
}